@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext');

@import url('/../fonts/klavika/stylesheet.css');


body {
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: middle;
}

.clear {
    clear: both;
}

.container {
    max-width: 1175px;
    min-width: 1175px;
}

.modal {
    z-index: 99999;
}

#topBar {
    font-family: Tahoma, serif;
    background: #081E35;
    color: #7b93ac;
    font-size: 12px;
    line-height: 30px;

    a {
        color: #7b93ac;
    }

    .dil {
        margin-left: 15px;
        cursor: pointer;
        margin-right: 15px;
        img {
            margin-top: 9px;
            width: 20px;
            height: 13px;
        }

        &:hover a {
            color: #fff;
        }
    }

    .social-icons {
        li {
            float: left;
            padding: 1px 7px;
            border-radius: 3px;
            line-height: normal;
            background: #B2B2B2;
            margin-left: 10px;

            a {
                color: #081E35;
            }

            &:hover {
                background: #2A97D0;
            }
        }
    }
}

#header {
    .columns {
        margin: 0;
    }
    padding-top: 30px;
    .logo {
        float:left;
        width: 30%;

        img {
            width: 100%;
        }
    }

    .menu {
        float:left;
        width: 50%;
        margin-top: 20px;
        padding-left: 80px;

        .a {
            position: relative;
            font-weight: bold;
            margin-right: 50px;
            display: inline-block;
            .big {
                color: #386494;
                font-size: 17px;
            }

            .small {
                color: #5B5B5B;
                font-size: 13px;
            }

            .subMenu {
                background: #fff;
                width: 200px;
                position: absolute;
                margin-top: 10px;
                margin-left: -10px;
                z-index: 2;
                border: 1px solid #ddd;
                border-radius: 5px;
                display: none;
                ul li {

                    a {
                        border-bottom: 1px solid #ddd;
                        padding: 10px;
                        display: block;
                        color: #386494;

                        &:hover {
                            background: rgba(0,0,0,.1);
                        }
                    }
                }
            }

            &:hover {
                .subMenu {
                    display: block;
                }
            }
        }
    }

    .search {
        float: right;
        width: 20%;
        height: 36px;
        margin-top: 25px;
        background: #0A2A4B;
        border-radius: 5px;

        input {
            display: inline-block;
            width: calc(85% - 2px);
            border-color: #dbdbdb !important;
            box-shadow: none !important;
        }

        button {
            background: #0A2A4B;
            color: #728597;
            margin-left: -3px;
            border: none;
            width: calc(15% - 2px);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            &:hover {
                color:#fff;
            }
        }
    }
}

#menu {
    margin-top: 30px;
    background: #f2f2f2;
    ul li {
        float: left;
        padding: 0 7px;
        a {
            color: #8c8c8c;
            font-weight: 500;
            font-size: 14px;
            line-height: 35px;

            &:hover {
                color: #000;
            }
        }
    }
}


.president {
    background: #e4e4e4;
    position: relative;

    img {
        position: absolute;
        bottom: 0;
        z-index: 0;
    }

    .top {
        height: 90px;
        padding-left: 150px;
        padding-top: 20px;
        font-size: 14px;
    }

    .bottom {
        background: #002C61;
        line-height: 30px;
        color: #fff;
        text-align: right;
        font-size: 13px;
        padding-right: 15px;

        .icons {
            margin-right: 20px;

            i {
                margin-left: 5px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                line-height: 20px;
                text-align: center;
                color: #002C61;
                background: #fff;
            }
        }
    }
}
.home-president {
    margin-top: 20px;


    .left {
        width: 320px;

        .linkler {
            margin-top: 20px;

            .link {
                margin-bottom: 24px;
                background: rgb(2,0,36);
                background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(7,70,128,1) 41%);
                color:#fff;
                font-weight: bold;
                font-size: 19px;
                border-radius: 5px;

                a {
                    color: #fff;
                    display: block;
                    line-height: 79px;
                }

                i {
                    margin-left: 50px;
                    margin-right: 20px;
                    color: #4285CB;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .right {
        width: calc(100% - 320px - 20px);
        min-width: 100px;
        .slider {
            .haber {
                position: relative;
                img {
                    max-width: 100%;
                }

                .info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: linear-gradient(to top, #000, transparent);
                    padding: 20px;
                    font-size: 21px;
                    color: #fff;
                    font-weight: bold;
                    text-shadow: 0 0 5px #000;
                }
            }
        }
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.m0 {
    margin: 0;
}
.p0 {
    margin: 0;
}

.home-linkler {
    margin-top: 20px;
    border: 10px solid #b3c8dd;
    height: 120px;

    .item {
        margin-top: 25px;
        i {
            margin-top: 10px;
            color: #bfbebe;
            font-size: 32px;
            margin-left: 20px;
            transition: 300ms color;
        }

        span {
            color: #55779e;
        }

        a {
            color: #15293f;

            &:hover {
                i {
                    color: #000;
                }
            }
        }
    }
}

.home-bottom {
    margin-top: 30px;

    .uyeol {
        height: 315px;
        text-align: center;
        color: #fff;
        background: #052241;
        font-size: 32px;
        padding-top: 50px;
        font-weight: lighter;

        .button {
            margin-top: 30px;
            font-weight: bold;
            font-size: 14px;
            background: #1a4788;
            color:#fff;
            border: 1px solid rgba(255,255,255,.2);
            border-radius: 0;

            &:hover {
                border: 1px solid rgba(255,255,255,.7);
            }
        }
    }

    .home-haberler {
        .home_haberler_title {
            padding: 5px 12px;
            background: #20548B;
            color: #fff;
            h2 {
                font-size: 17px;
                font-weight: bold;
            }

            a {
                font-size: 13px;
                padding-bottom: 2px;
                color: #fff;

                &:after {
                    content: '';
                    height: 1px;
                    border-bottom: 1px dotted #fff;
                    display:block;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .home_haberler_content {
            position: relative;
            padding: 10px;
            border: 1px solid #ddd;

            .haber {
                a {
                    color: #334151;
                }
                h3 {
                    font-size: 17px;
                    font-weight: bold;
                    color: #334151;
                }

                .date {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 13px;
                }

                p {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .dots {
                bottom: 10px;
                right: 10px;
                position: absolute;
                span {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: #dedede;
                    margin-left: 5px;
                    cursor: pointer;

                    &.aktif {
                        background: #2c6eb4;
                    }
                }
            }
        }
    }
}

[v-cloak] { display:none; }

.anlasmalar {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;

    .top {
        h1 {
            font-size: 21px;
            font-weight: bold;
            span {
                color: #20548b;
            }
        }

        p {
            color: #777;
            font-size: 14px;
            padding-top: 10px;
        }

        .buttons {
            float: right;
            margin-top: 15px;
            button {
                color: #ff6666;
                border: 1px solid #ff6666;
                border-radius: 30px;
                width: 70px;

                &:hover {
                    color:#fff;
                    background: #FF6666;
                }
            }
        }
    }

    .photos {
        margin-top: 30px;
    }
}

#footer {
    background: #020c1a;
    color: #fff;
    padding: 40px 0;

    h2 {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .adres {
        font-size: 13px;
    }

    .icons {
        margin-top: 10px;
        a {
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            background: #45619d;
            color: #fff;
            text-align: center;
            margin-right: 5px;

            i {
                text-shadow: 3px 3px 3px rgba(0,0,0,.66);
            }

            &:nth-child(2) {
                background: #55acee;
            }
            &:nth-child(3) {
                background: #cc181e;
            }
            &:nth-child(4) {
                background: #f98b02;
            }
        }
    }

    .menu_title {
        color: #73a1e0;
        font-weight: bold;
        margin-bottom: 15px;
    }

    a {
        color: #fff;
        font-size: 14px;
    }

    .eBulten {
        input {
            background: #091322;
            color: #fff;
            border-color: #35404f;
            width: 200px;
            border-radius: 0;
            display: inline-block;
            &::placeholder {
                color: #506075;
            }
        }

        button {
            background: #1e5198;
            color: #fff;
            border-radius: 0;
            border: none;
        }
    }
}

#bottombar {
    background: #010409;
    color: #343D4B;
    font-size: 13px;
    line-height: 60px;

    a {
        color: #343D4B;
        margin-right: 10px;
        margin-left: 10px;

        &:hover {
            color:#fff;
        }
    }
}

#pageTitle {
    border-top: 5px solid #081E35;
    background: #1e548c;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;

    h1 {
        line-height: 100px;
        font-size: 32px;
        font-weight: bold;
        border-bottom: 5px solid #081E35;

        span {
            font-weight: 100;
        }
    }

    .links {
        i {
            color: #081E35;
            margin-right: 10px;
            margin-left: 10px;
        }

        a {
            color: #5288c0;

            &:last-child {
                color: #fff;
            }

            i {
                margin: 0;
            }
        }

    }
}

#forum_index {
    table {
        th {
            padding: 15px;
            background: #d4d4d4;
            color: #303f51;
        }

        td {
            padding: 30px 15px;

            .sayi {
                font-size: 32px;
                font-weight: lighter;
                text-align: center;
            }

            .baslik {
                font-weight: bold;
                font-size: 16px;
            }

            .desc {
                font-size: 14px;
            }

            a {
                color: #081E35;
            }
        }
    }

    .question {
        .konu_basligi {
            font-weight: bold;
            font-size: 19px;
            span {
                color: red;
            }
        }
        .yazar {
            width: 250px;
            text-align: right;
            .name {
                font-weight: bold;
                font-size: 17px;
            }

            .date {
                font-size: 14px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .online {
                background: green;
                color: #fff;
                display: inline-block;
                padding: 0 5px;
            }
        }

        .cevap_yaz {
            textarea {
                margin-bottom: 15px;
                background: #eee;
                border-radius: 0;
            }

            button {
                border-radius: 0;
                border: 1px solid rgba(0,0,0,.32);
                background: #777;
                color: #fff;
                font-size: 14px;
                font-weight: bold;

                &:last-child {
                    background: #555;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

#haber {

    margin-bottom: 50px;
    h1 {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        font-size: 21px;
        font-weight: bold;
    }

    .cover {
        position: relative;

        .icons2 {
            position: absolute;
            background: #fff;
            bottom: 20px;
            padding: 10px;
            padding-left: 0;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            left: 0;
            .icon2 {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                text-align: center;
                padding-top: 15px;
                font-weight: bold;
                color: #fff;
                background: #9e0b0f;
                cursor: pointer;
                i {
                    font-size: 35px;
                    display: block;
                }

                &:last-child {
                    margin-top: 10px;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .info {
        margin-top: 10px;
        span {
            margin-right: 20px;
            font-size: 14px;
            i {
                color: #ccc;
                margin-right: 5px;
            }
        }
    }

    .summary {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0 50px;
        font-weight: bold;
        i {
            font-size: 37px;
        }
    }

    .text {
        .icons {
            text-align: center;
            display: block;
            float: left;
            padding: 5px 6px;
            background: #555;
            color: #fff;
            margin-right: 15px;
            margin-bottom: 10px;
            margin-top: 5px;
            border-radius: 5px;

            i {

                width: 25px;
                height: 25px;
                color: #555;
                background: #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 25px;

                &:last-child {
                    margin-top: 10px;
                }
            }
        }
    }




}

.other_news {
    margin-top: 40px;
    background: #020c1a;
    color:#fff;
    .top {
        h2 {
            text-align: center;
            font-size: 17px;
            font-weight: bold;
            line-height: 50px;
            cursor: pointer;

            color: #474754;

            &.active {
                color:#fff;
            }
        }

        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }

    .body {
        padding: 18px;

        .haberler {
            ul li {
                margin-bottom: 15px;
                h3 {
                    font-size: 13px;
                    font-weight: bold;
                    color: #fff;
                }

                .date {
                    font-size: 13px;
                    margin-top: 5px;
                    color:#ccc;
                }
            }
        }
    }

    .bottom {
        padding: 18px;
        font-size: 14px;
        border-top: 1px solid rgba(255,255,255,.1);
        a {
            text-decoration: underline;
            color: #53cef2;
        }
    }
}

.other_news2 {
    margin-top: 40px;
    background: #020c1a;
    color:#fff;
    .top {
        h2 {
            padding-left: 18px;
            font-size: 17px;
            font-weight: bold;
            line-height: 50px;
            cursor: pointer;

            color: #fff;

            &.active {
                color:#fff;
            }
        }

        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255,.1);
    }

    .body {
        border-bottom: 5px solid #1E5BA4;
        padding: 18px;

        .haberler {
            ul li {
                margin-bottom: 15px;
                h3 {
                    font-size: 13px;
                    font-weight: bold;
                    color: #fff;
                }

                .date {
                    font-size: 13px;
                    margin-top: 5px;
                    color:#ccc;
                }
            }
        }

        .menu {
            ul li {
                a {
                    color: #707084;
                    display: block;
                    border-bottom: 1px solid rgba(255,255,255,.1);
                    padding-bottom: 10px;
                    padding-top: 10px;

                    &:hover {
                        color:#fff;
                    }
                }

                &:last-child a {
                    border-bottom: none;
                    padding-bottom: 0;
                }

                &:first-child a {
                    padding-top: 0;
                }
            }
        }
    }

    .bottom {
        padding: 18px;
        font-size: 14px;
        border-top: 1px solid rgba(255,255,255,.1);
        a {
            text-decoration: underline;
            color: #53cef2;
        }
    }
}

#page_title2 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    h1 {
        font-size: 32px;
        font-weight: bolder;

        &:after {
            width: 50px;
            height: 3px;
            background: #c62227;
            content: '';
            display: block;
            margin: 10px auto 0;
        }
    }

    .desc {
        margin-top: 10px;
        color:#777;
    }

    .turButtons {
        position: absolute;
        right: 0;
        top: 25px;
        font-size: 21px;

        i {
            margin-left: 10px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

#duyurular {
    min-height: 600px;
    position: relative;

    .cubuk {
        height: 600px;
        width: 8px;
        background: #ccced2;
        position: absolute;
        left: 50%;
        margin-left: -4px;
        z-index: -1;
    }

    .duyurular {
        .duyuru {
            height: 230px;
            .tarih {
                margin-top: 97px;
                float: left;
                width: calc(50% - 20px);
                span {
                    padding: 5px 10px;
                    background: #aaa;
                    border:1px solid #333;
                    color:#fff;
                    font-size: 14px;
                    display: block;
                    float: right;
                }


            }
            .nokta {
                float: left;
            }
            .body {
                width: calc(50% - 20px);
                float: right;
                background: #eee;
                border: 1px solid #ddd;
                padding: 40px;

                h2 {
                    text-align: right;
                    font-weight: bold;
                    font-size: 17px;
                    margin-bottom: 5px;
                }

                p {
                    margin-top: 10px;
                    color: #777;
                    font-size: 14px;
                    text-align: right;
                }
            }

            .nokta {
                float: right;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #fff;
                margin-top: 100px;
                margin-right: 5px;

                span {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #c54e26;
                    display: block;
                    margin: 5px auto 0;
                }
            }

            &.duyuru-sol {
                .tarih {
                    float: right;

                    span {
                        float: left;
                    }
                }

                .nokta {
                    float: left;
                    margin-left: 5px;
                }

                .body {
                    float: left;
                }
            }
        }
    }

    .more {
        text-align: center;
        font-size: 45px;
        margin-top: 50px;

        & i:hover {
            cursor: pointer;
            color:#777;
        }
    }

    .duyurular2 {
        .duyuru {
            border: 1px solid #ddd;
            position: relative;
            img {
                width: 100%;
            }

            .tarih {
                position: absolute;
                width: 60px;
                height: 60px;
                left: 0;
                margin-top: -60px;
                background: #fff;
                color:#000;
                span {
                    display: inline-block;
                    font-weight: bold;
                    font-size: 29px;
                    line-height: 42px;
                    height: 30px;
                }
                text-align: center;
                font-size: 15px;
                font-weight: 300;
            }

            .info {
                padding: 10px;
                .title {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }

            a {
                color:#081e35;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}


#iletisim {
    margin-top: 35px;
    margin-bottom: 50px;
    .solMenu {
        border: 3px solid #d3d3d3;
        color: #081e35;
        li {
            border-bottom: 1px solid #d3d3d3;
            padding: 24px;
            .title {
                font-size: 21px;
                margin-bottom: 10px;
            }

            .icon {
                i {
                    font-size: 35px;
                    margin-top: 23px;
                }
            }

            .sosyal {
                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: #081e35;
                    color:#fff;
                    margin-right: 5px;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }
    }

    .iletisimFormu {
        h2 {
            color: #081e35;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .textarea {
            height: 250px;
        }

        input,textarea {
            background: #f7f6f6;
            color:#000;
            border-radius: 0;
            border: 1px solid #ddd;
        }

        button {
            margin-top: 20px;
            background: #3b3b3b;
            color: #fff;
            font-weight: bold;
            border-radius: 0;
            padding: 10px 30px;
            line-height: 15px;
        }
    }
}

#haberler {
    ul li.haber {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        width: calc(25% - 20px);

        img {
            width: 100%;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }

        .info {
            background: #fff;
            box-shadow: 0 1px 2px rgba(0,0,0,.32);
            padding: 10px;
            height: 156px;
            .title {
                font-size: 16px;
                margin-bottom: 5px;
            }

            .tarih {
                font-size: 14px;
                color: #777;
                margin-bottom: 10px;
            }

            .summary {
                font-size: 14px;
                color:#777;
            }
        }
    }
}

.pagination {
    justify-content: center;
    margin-bottom: 10px;

    .page-item a, .page-item {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 3px;
        background: #1E548C !important;
        border: 1px solid rgba(0,0,0,.2);
        margin-right: 10px;
        color:#fff !important;
        display: block !important;


        &.active, &.disabled {
            background: #fff !important;
            color: #000 !important;
            border: 1px solid rgba(0,0,0,.2);
        }
    }
}

#galeriler {
    min-height: 500px;

    .galeri {
        position: relative;
        cursor: pointer;
        .info {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(12,12,56,.66);
            color: #fff;
            text-align: center;
            padding-top: 40px;

            .tarih {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .name {
                font-size: 21px;
                font-weight: bold;
            }

            i {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: #fff;
                color: #000;
                text-align: center;
                line-height: 60px;
                font-size: 21px;
            }
        }

        &:hover {
            .info {
                display: block;
            }
        }
    }
}

#galeri {
    min-height: 500px;
}

#yonetimKurulu {
    margin-bottom: 50px;

    .kisi {
        padding: 5px;

        .info {
            padding: 10px;
            font-size: 14px;

            .name {
                font-weight: bold;
                color: #1F548C;

                span {
                    color: #777;
                    font-weight: normal;
                }
            }

            .gorev {
                color: rgb(192, 61, 13);
                font-weight: 500;;
            }
        }

        &:hover {
            background: #1F548C;

            .info {
                .name {
                    color: #fff;

                    span {
                        color: rgb(68, 127, 190);
                    }
                }

                .gorev {
                    color: #ccc;
                }
            }
        }
    }

    .single {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ddd;

        h1 {
            font-size: 21px;
            font-weight: bold;

            span {
                font-weight: normal;
                color:#777;
            }
        }

        .gorev {
            font-size: 23px;
            color: rgb(192, 61, 13);

            &:after {
                content: '';
                display: block;
                width: 50px;
                height: 3px;
                margin-top: 7px;
                margin-bottom: 20px;
                background: rgb(192, 61, 13);
            }
        }

        .social {
            margin-bottom: 25px;;
            a {
                display: inline-block;
                margin-right: 15px;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background: #1F548C;
                color: #fff;
                text-align: center;
                line-height: 21px;
                font-size: 13px;
            }
        }
    }
}

#imageView {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background: rgba(0,0,0,.66);
    z-index: 999;

    .content {
        max-width: 1000px;
        padding: 100px;
        margin: 100px auto;
        img {
            max-width: 100%;
        }
    }

    .close {
        cursor: pointer;
        position: fixed;
        z-index: 99999;
        right: 50px;
        font-size: 37px;
        color: #fff;
    }
}

.forum-user {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;

    .btn {
        padding: 10px;
        background: #3374dc;
        color: #fff;
        border-radius: 3px;
        margin-left: 20px;
        display: inline-block;
    }
}

.forum-logged-user {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;

    .user {
        padding: 10px 20px;
        background: #eee;
        border-radius: 3px;
    }
}

.forum-register {
    margin-bottom: 20px;
    min-height: 500px;

    .info {
        padding: 20px;
        background: #bae9fa;
        text-align: center;
    }

    form {
        width: 500px;
        margin: 0 auto;

        label {
            display: block;
            margin-top: 15px;
        }

        input {
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            margin-top: 7px;
        }

        button {
            display: block;
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            margin-top: 35px;
            background: #3374dc;
            border: none;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
