@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext);@import url(/../fonts/klavika/stylesheet.css);body {
  font-family: "Roboto", sans-serif;
}

img {
  vertical-align: middle;
}

.clear {
  clear: both;
}

.container {
  max-width: 1175px;
  min-width: 1175px;
}

.modal {
  z-index: 99999;
}

#topBar {
  font-family: Tahoma, serif;
  background: #081E35;
  color: #7b93ac;
  font-size: 12px;
  line-height: 30px;
}

#topBar a {
  color: #7b93ac;
}

#topBar .dil {
  margin-left: 15px;
  cursor: pointer;
  margin-right: 15px;
}

#topBar .dil img {
  margin-top: 9px;
  width: 20px;
  height: 13px;
}

#topBar .dil:hover a {
  color: #fff;
}

#topBar .social-icons li {
  float: left;
  padding: 1px 7px;
  border-radius: 3px;
  line-height: normal;
  background: #B2B2B2;
  margin-left: 10px;
}

#topBar .social-icons li a {
  color: #081E35;
}

#topBar .social-icons li:hover {
  background: #2A97D0;
}

#header {
  padding-top: 30px;
}

#header .columns {
  margin: 0;
}

#header .logo {
  float: left;
  width: 30%;
}

#header .logo img {
  width: 100%;
}

#header .menu {
  float: left;
  width: 50%;
  margin-top: 20px;
  padding-left: 80px;
}

#header .menu .a {
  position: relative;
  font-weight: bold;
  margin-right: 50px;
  display: inline-block;
}

#header .menu .a .big {
  color: #386494;
  font-size: 17px;
}

#header .menu .a .small {
  color: #5B5B5B;
  font-size: 13px;
}

#header .menu .a .subMenu {
  background: #fff;
  width: 200px;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  z-index: 2;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: none;
}

#header .menu .a .subMenu ul li a {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: block;
  color: #386494;
}

#header .menu .a .subMenu ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

#header .menu .a:hover .subMenu {
  display: block;
}

#header .search {
  float: right;
  width: 20%;
  height: 36px;
  margin-top: 25px;
  background: #0A2A4B;
  border-radius: 5px;
}

#header .search input {
  display: inline-block;
  width: calc(85% - 2px);
  border-color: #dbdbdb !important;
  box-shadow: none !important;
}

#header .search button {
  background: #0A2A4B;
  color: #728597;
  margin-left: -3px;
  border: none;
  width: calc(15% - 2px);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#header .search button:hover {
  color: #fff;
}

#menu {
  margin-top: 30px;
  background: #f2f2f2;
}

#menu ul li {
  float: left;
  padding: 0 7px;
}

#menu ul li a {
  color: #8c8c8c;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
}

#menu ul li a:hover {
  color: #000;
}

.president {
  background: #e4e4e4;
  position: relative;
}

.president img {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.president .top {
  height: 90px;
  padding-left: 150px;
  padding-top: 20px;
  font-size: 14px;
}

.president .bottom {
  background: #002C61;
  line-height: 30px;
  color: #fff;
  text-align: right;
  font-size: 13px;
  padding-right: 15px;
}

.president .bottom .icons {
  margin-right: 20px;
}

.president .bottom .icons i {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  color: #002C61;
  background: #fff;
}

.home-president {
  margin-top: 20px;
}

.home-president .left {
  width: 320px;
}

.home-president .left .linkler {
  margin-top: 20px;
}

.home-president .left .linkler .link {
  margin-bottom: 24px;
  background: #020024;
  background: -webkit-gradient(linear, left bottom, left top, from(#020024), color-stop(41%, #074680));
  background: linear-gradient(0deg, #020024 0%, #074680 41%);
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  border-radius: 5px;
}

.home-president .left .linkler .link a {
  color: #fff;
  display: block;
  line-height: 79px;
}

.home-president .left .linkler .link i {
  margin-left: 50px;
  margin-right: 20px;
  color: #4285CB;
}

.home-president .left .linkler .link:hover {
  opacity: 0.8;
}

.home-president .right {
  width: calc(100% - 320px - 20px);
  min-width: 100px;
}

.home-president .right .slider .haber {
  position: relative;
}

.home-president .right .slider .haber img {
  max-width: 100%;
}

.home-president .right .slider .haber .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent);
  padding: 20px;
  font-size: 21px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
}

.left {
  float: left;
}

.right {
  float: right;
}

.m0 {
  margin: 0;
}

.p0 {
  margin: 0;
}

.home-linkler {
  margin-top: 20px;
  border: 10px solid #b3c8dd;
  height: 120px;
}

.home-linkler .item {
  margin-top: 25px;
}

.home-linkler .item i {
  margin-top: 10px;
  color: #bfbebe;
  font-size: 32px;
  margin-left: 20px;
  -webkit-transition: 300ms color;
  transition: 300ms color;
}

.home-linkler .item span {
  color: #55779e;
}

.home-linkler .item a {
  color: #15293f;
}

.home-linkler .item a:hover i {
  color: #000;
}

.home-bottom {
  margin-top: 30px;
}

.home-bottom .uyeol {
  height: 315px;
  text-align: center;
  color: #fff;
  background: #052241;
  font-size: 32px;
  padding-top: 50px;
  font-weight: lighter;
}

.home-bottom .uyeol .button {
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  background: #1a4788;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
}

.home-bottom .uyeol .button:hover {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.home-bottom .home-haberler .home_haberler_title {
  padding: 5px 12px;
  background: #20548B;
  color: #fff;
}

.home-bottom .home-haberler .home_haberler_title h2 {
  font-size: 17px;
  font-weight: bold;
}

.home-bottom .home-haberler .home_haberler_title a {
  font-size: 13px;
  padding-bottom: 2px;
  color: #fff;
}

.home-bottom .home-haberler .home_haberler_title a:after {
  content: "";
  height: 1px;
  border-bottom: 1px dotted #fff;
  display: block;
}

.home-bottom .home-haberler .home_haberler_title a:hover {
  opacity: 0.8;
}

.home-bottom .home-haberler .home_haberler_content {
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
}

.home-bottom .home-haberler .home_haberler_content .haber a {
  color: #334151;
}

.home-bottom .home-haberler .home_haberler_content .haber h3 {
  font-size: 17px;
  font-weight: bold;
  color: #334151;
}

.home-bottom .home-haberler .home_haberler_content .haber .date {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.home-bottom .home-haberler .home_haberler_content .haber p {
  font-size: 14px;
  font-weight: bold;
}

.home-bottom .home-haberler .home_haberler_content .dots {
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.home-bottom .home-haberler .home_haberler_content .dots span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #dedede;
  margin-left: 5px;
  cursor: pointer;
}

.home-bottom .home-haberler .home_haberler_content .dots span.aktif {
  background: #2c6eb4;
}

[v-cloak] {
  display: none;
}

.anlasmalar {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.anlasmalar .top h1 {
  font-size: 21px;
  font-weight: bold;
}

.anlasmalar .top h1 span {
  color: #20548b;
}

.anlasmalar .top p {
  color: #777;
  font-size: 14px;
  padding-top: 10px;
}

.anlasmalar .top .buttons {
  float: right;
  margin-top: 15px;
}

.anlasmalar .top .buttons button {
  color: #ff6666;
  border: 1px solid #ff6666;
  border-radius: 30px;
  width: 70px;
}

.anlasmalar .top .buttons button:hover {
  color: #fff;
  background: #FF6666;
}

.anlasmalar .photos {
  margin-top: 30px;
}

#footer {
  background: #020c1a;
  color: #fff;
  padding: 40px 0;
}

#footer h2 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 15px;
}

#footer .adres {
  font-size: 13px;
}

#footer .icons {
  margin-top: 10px;
}

#footer .icons a {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #45619d;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}

#footer .icons a i {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.66);
}

#footer .icons a:nth-child(2) {
  background: #55acee;
}

#footer .icons a:nth-child(3) {
  background: #cc181e;
}

#footer .icons a:nth-child(4) {
  background: #f98b02;
}

#footer .menu_title {
  color: #73a1e0;
  font-weight: bold;
  margin-bottom: 15px;
}

#footer a {
  color: #fff;
  font-size: 14px;
}

#footer .eBulten input {
  background: #091322;
  color: #fff;
  border-color: #35404f;
  width: 200px;
  border-radius: 0;
  display: inline-block;
}

#footer .eBulten input::-webkit-input-placeholder {
  color: #506075;
}

#footer .eBulten input::-moz-placeholder {
  color: #506075;
}

#footer .eBulten input:-ms-input-placeholder {
  color: #506075;
}

#footer .eBulten input::-ms-input-placeholder {
  color: #506075;
}

#footer .eBulten input::placeholder {
  color: #506075;
}

#footer .eBulten button {
  background: #1e5198;
  color: #fff;
  border-radius: 0;
  border: none;
}

#bottombar {
  background: #010409;
  color: #343D4B;
  font-size: 13px;
  line-height: 60px;
}

#bottombar a {
  color: #343D4B;
  margin-right: 10px;
  margin-left: 10px;
}

#bottombar a:hover {
  color: #fff;
}

#pageTitle {
  border-top: 5px solid #081E35;
  background: #1e548c;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
}

#pageTitle h1 {
  line-height: 100px;
  font-size: 32px;
  font-weight: bold;
  border-bottom: 5px solid #081E35;
}

#pageTitle h1 span {
  font-weight: 100;
}

#pageTitle .links i {
  color: #081E35;
  margin-right: 10px;
  margin-left: 10px;
}

#pageTitle .links a {
  color: #5288c0;
}

#pageTitle .links a:last-child {
  color: #fff;
}

#pageTitle .links a i {
  margin: 0;
}

#forum_index table th {
  padding: 15px;
  background: #d4d4d4;
  color: #303f51;
}

#forum_index table td {
  padding: 30px 15px;
}

#forum_index table td .sayi {
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
}

#forum_index table td .baslik {
  font-weight: bold;
  font-size: 16px;
}

#forum_index table td .desc {
  font-size: 14px;
}

#forum_index table td a {
  color: #081E35;
}

#forum_index .question .konu_basligi {
  font-weight: bold;
  font-size: 19px;
}

#forum_index .question .konu_basligi span {
  color: red;
}

#forum_index .question .yazar {
  width: 250px;
  text-align: right;
}

#forum_index .question .yazar .name {
  font-weight: bold;
  font-size: 17px;
}

#forum_index .question .yazar .date {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#forum_index .question .yazar .online {
  background: green;
  color: #fff;
  display: inline-block;
  padding: 0 5px;
}

#forum_index .question .cevap_yaz textarea {
  margin-bottom: 15px;
  background: #eee;
  border-radius: 0;
}

#forum_index .question .cevap_yaz button {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.32);
  background: #777;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

#forum_index .question .cevap_yaz button:last-child {
  background: #555;
}

#forum_index .question .cevap_yaz button:hover {
  opacity: 0.8;
}

#haber {
  margin-bottom: 50px;
}

#haber h1 {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 21px;
  font-weight: bold;
}

#haber .cover {
  position: relative;
}

#haber .cover .icons2 {
  position: absolute;
  background: #fff;
  bottom: 20px;
  padding: 10px;
  padding-left: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  left: 0;
}

#haber .cover .icons2 .icon2 {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  color: #fff;
  background: #9e0b0f;
  cursor: pointer;
}

#haber .cover .icons2 .icon2 i {
  font-size: 35px;
  display: block;
}

#haber .cover .icons2 .icon2:last-child {
  margin-top: 10px;
}

#haber .cover .icons2 .icon2:hover {
  opacity: 0.7;
}

#haber .info {
  margin-top: 10px;
}

#haber .info span {
  margin-right: 20px;
  font-size: 14px;
}

#haber .info span i {
  color: #ccc;
  margin-right: 5px;
}

#haber .summary {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 50px;
  font-weight: bold;
}

#haber .summary i {
  font-size: 37px;
}

#haber .text .icons {
  text-align: center;
  display: block;
  float: left;
  padding: 5px 6px;
  background: #555;
  color: #fff;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

#haber .text .icons i {
  width: 25px;
  height: 25px;
  color: #555;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

#haber .text .icons i:last-child {
  margin-top: 10px;
}

.other_news {
  margin-top: 40px;
  background: #020c1a;
  color: #fff;
}

.other_news .top {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.other_news .top h2 {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
  color: #474754;
}

.other_news .top h2.active {
  color: #fff;
}

.other_news .body {
  padding: 18px;
}

.other_news .body .haberler ul li {
  margin-bottom: 15px;
}

.other_news .body .haberler ul li h3 {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

.other_news .body .haberler ul li .date {
  font-size: 13px;
  margin-top: 5px;
  color: #ccc;
}

.other_news .bottom {
  padding: 18px;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.other_news .bottom a {
  text-decoration: underline;
  color: #53cef2;
}

.other_news2 {
  margin-top: 40px;
  background: #020c1a;
  color: #fff;
}

.other_news2 .top {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.other_news2 .top h2 {
  padding-left: 18px;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
  color: #fff;
}

.other_news2 .top h2.active {
  color: #fff;
}

.other_news2 .body {
  border-bottom: 5px solid #1E5BA4;
  padding: 18px;
}

.other_news2 .body .haberler ul li {
  margin-bottom: 15px;
}

.other_news2 .body .haberler ul li h3 {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

.other_news2 .body .haberler ul li .date {
  font-size: 13px;
  margin-top: 5px;
  color: #ccc;
}

.other_news2 .body .menu ul li a {
  color: #707084;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
  padding-top: 10px;
}

.other_news2 .body .menu ul li a:hover {
  color: #fff;
}

.other_news2 .body .menu ul li:last-child a {
  border-bottom: none;
  padding-bottom: 0;
}

.other_news2 .body .menu ul li:first-child a {
  padding-top: 0;
}

.other_news2 .bottom {
  padding: 18px;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.other_news2 .bottom a {
  text-decoration: underline;
  color: #53cef2;
}

#page_title2 {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

#page_title2 h1 {
  font-size: 32px;
  font-weight: bolder;
}

#page_title2 h1:after {
  width: 50px;
  height: 3px;
  background: #c62227;
  content: "";
  display: block;
  margin: 10px auto 0;
}

#page_title2 .desc {
  margin-top: 10px;
  color: #777;
}

#page_title2 .turButtons {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 21px;
}

#page_title2 .turButtons i {
  margin-left: 10px;
  cursor: pointer;
}

#page_title2 .turButtons i:hover {
  opacity: 0.8;
}

#duyurular {
  min-height: 600px;
  position: relative;
}

#duyurular .cubuk {
  height: 600px;
  width: 8px;
  background: #ccced2;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  z-index: -1;
}

#duyurular .duyurular .duyuru {
  height: 230px;
}

#duyurular .duyurular .duyuru .tarih {
  margin-top: 97px;
  float: left;
  width: calc(50% - 20px);
}

#duyurular .duyurular .duyuru .tarih span {
  padding: 5px 10px;
  background: #aaa;
  border: 1px solid #333;
  color: #fff;
  font-size: 14px;
  display: block;
  float: right;
}

#duyurular .duyurular .duyuru .nokta {
  float: left;
}

#duyurular .duyurular .duyuru .body {
  width: calc(50% - 20px);
  float: right;
  background: #eee;
  border: 1px solid #ddd;
  padding: 40px;
}

#duyurular .duyurular .duyuru .body h2 {
  text-align: right;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 5px;
}

#duyurular .duyurular .duyuru .body p {
  margin-top: 10px;
  color: #777;
  font-size: 14px;
  text-align: right;
}

#duyurular .duyurular .duyuru .nokta {
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  margin-top: 100px;
  margin-right: 5px;
}

#duyurular .duyurular .duyuru .nokta span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #c54e26;
  display: block;
  margin: 5px auto 0;
}

#duyurular .duyurular .duyuru.duyuru-sol .tarih {
  float: right;
}

#duyurular .duyurular .duyuru.duyuru-sol .tarih span {
  float: left;
}

#duyurular .duyurular .duyuru.duyuru-sol .nokta {
  float: left;
  margin-left: 5px;
}

#duyurular .duyurular .duyuru.duyuru-sol .body {
  float: left;
}

#duyurular .more {
  text-align: center;
  font-size: 45px;
  margin-top: 50px;
}

#duyurular .more i:hover {
  cursor: pointer;
  color: #777;
}

#duyurular .duyurular2 .duyuru {
  border: 1px solid #ddd;
  position: relative;
}

#duyurular .duyurular2 .duyuru img {
  width: 100%;
}

#duyurular .duyurular2 .duyuru .tarih {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  margin-top: -60px;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

#duyurular .duyurular2 .duyuru .tarih span {
  display: inline-block;
  font-weight: bold;
  font-size: 29px;
  line-height: 42px;
  height: 30px;
}

#duyurular .duyurular2 .duyuru .info {
  padding: 10px;
}

#duyurular .duyurular2 .duyuru .info .title {
  font-size: 16px;
  margin-bottom: 10px;
}

#duyurular .duyurular2 .duyuru a {
  color: #081e35;
}

#duyurular .duyurular2 .duyuru:hover {
  opacity: 0.8;
}

#iletisim {
  margin-top: 35px;
  margin-bottom: 50px;
}

#iletisim .solMenu {
  border: 3px solid #d3d3d3;
  color: #081e35;
}

#iletisim .solMenu li {
  border-bottom: 1px solid #d3d3d3;
  padding: 24px;
}

#iletisim .solMenu li .title {
  font-size: 21px;
  margin-bottom: 10px;
}

#iletisim .solMenu li .icon i {
  font-size: 35px;
  margin-top: 23px;
}

#iletisim .solMenu li .sosyal a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #081e35;
  color: #fff;
  margin-right: 5px;
  text-align: center;
  line-height: 30px;
}

#iletisim .iletisimFormu h2 {
  color: #081e35;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#iletisim .iletisimFormu .textarea {
  height: 250px;
}

#iletisim .iletisimFormu input,
#iletisim .iletisimFormu textarea {
  background: #f7f6f6;
  color: #000;
  border-radius: 0;
  border: 1px solid #ddd;
}

#iletisim .iletisimFormu button {
  margin-top: 20px;
  background: #3b3b3b;
  color: #fff;
  font-weight: bold;
  border-radius: 0;
  padding: 10px 30px;
  line-height: 15px;
}

#haberler ul li.haber {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc(25% - 20px);
}

#haberler ul li.haber img {
  width: 100%;
}

#haberler ul li.haber:nth-child(4n) {
  margin-right: 0;
}

#haberler ul li.haber .info {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);
  padding: 10px;
  height: 156px;
}

#haberler ul li.haber .info .title {
  font-size: 16px;
  margin-bottom: 5px;
}

#haberler ul li.haber .info .tarih {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

#haberler ul li.haber .info .summary {
  font-size: 14px;
  color: #777;
}

.pagination {
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.pagination .page-item a,
.pagination .page-item {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  background: #1E548C !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  color: #fff !important;
  display: block !important;
}

.pagination .page-item a.active,
.pagination .page-item a.disabled,
.pagination .page-item.active,
.pagination .page-item.disabled {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#galeriler {
  min-height: 500px;
}

#galeriler .galeri {
  position: relative;
  cursor: pointer;
}

#galeriler .galeri .info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(12, 12, 56, 0.66);
  color: #fff;
  text-align: center;
  padding-top: 40px;
}

#galeriler .galeri .info .tarih {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

#galeriler .galeri .info .name {
  font-size: 21px;
  font-weight: bold;
}

#galeriler .galeri .info i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  text-align: center;
  line-height: 60px;
  font-size: 21px;
}

#galeriler .galeri:hover .info {
  display: block;
}

#galeri {
  min-height: 500px;
}

#yonetimKurulu {
  margin-bottom: 50px;
}

#yonetimKurulu .kisi {
  padding: 5px;
}

#yonetimKurulu .kisi .info {
  padding: 10px;
  font-size: 14px;
}

#yonetimKurulu .kisi .info .name {
  font-weight: bold;
  color: #1F548C;
}

#yonetimKurulu .kisi .info .name span {
  color: #777;
  font-weight: normal;
}

#yonetimKurulu .kisi .info .gorev {
  color: #c03d0d;
  font-weight: 500;
}

#yonetimKurulu .kisi:hover {
  background: #1F548C;
}

#yonetimKurulu .kisi:hover .info .name {
  color: #fff;
}

#yonetimKurulu .kisi:hover .info .name span {
  color: #447fbe;
}

#yonetimKurulu .kisi:hover .info .gorev {
  color: #ccc;
}

#yonetimKurulu .single {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

#yonetimKurulu .single h1 {
  font-size: 21px;
  font-weight: bold;
}

#yonetimKurulu .single h1 span {
  font-weight: normal;
  color: #777;
}

#yonetimKurulu .single .gorev {
  font-size: 23px;
  color: #c03d0d;
}

#yonetimKurulu .single .gorev:after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 7px;
  margin-bottom: 20px;
  background: #c03d0d;
}

#yonetimKurulu .single .social {
  margin-bottom: 25px;
}

#yonetimKurulu .single .social a {
  display: inline-block;
  margin-right: 15px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #1F548C;
  color: #fff;
  text-align: center;
  line-height: 21px;
  font-size: 13px;
}

#imageView {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.66);
  z-index: 999;
}

#imageView .content {
  max-width: 1000px;
  padding: 100px;
  margin: 100px auto;
}

#imageView .content img {
  max-width: 100%;
}

#imageView .close {
  cursor: pointer;
  position: fixed;
  z-index: 99999;
  right: 50px;
  font-size: 37px;
  color: #fff;
}

.forum-user {
  display: -webkit-box;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.forum-user .btn {
  padding: 10px;
  background: #3374dc;
  color: #fff;
  border-radius: 3px;
  margin-left: 20px;
  display: inline-block;
}

.forum-logged-user {
  display: -webkit-box;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.forum-logged-user .user {
  padding: 10px 20px;
  background: #eee;
  border-radius: 3px;
}

.forum-register {
  margin-bottom: 20px;
  min-height: 500px;
}

.forum-register .info {
  padding: 20px;
  background: #bae9fa;
  text-align: center;
}

.forum-register form {
  width: 500px;
  margin: 0 auto;
}

.forum-register form label {
  display: block;
  margin-top: 15px;
}

.forum-register form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-top: 7px;
}

.forum-register form button {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-top: 35px;
  background: #3374dc;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.forum-register form button:hover {
  opacity: 0.8;
}

