@font-face {
    font-family: 'Klavika Bd';
    src: url('subset-Klavika-Bold.woff2') format('woff2'),
        url('subset-Klavika-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Bd';
    src: url('subset-Klavika-BoldItalic.woff2') format('woff2'),
        url('subset-Klavika-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Klavika Md';
    src: url('subset-Klavika-MediumItalic.woff2') format('woff2'),
        url('subset-Klavika-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Klavika Lt';
    src: url('subset-Klavika-LightItalic.woff2') format('woff2'),
        url('subset-Klavika-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Klavika Lt';
    src: url('subset-Klavika-Light.woff2') format('woff2'),
        url('subset-Klavika-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Rg';
    src: url('subset-Klavika-RegularItalic.woff2') format('woff2'),
        url('subset-Klavika-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Klavika Md';
    src: url('subset-Klavika-Medium.woff2') format('woff2'),
        url('subset-Klavika-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Rg';
    src: url('subset-Klavika-Regular.woff2') format('woff2'),
        url('subset-Klavika-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

